<!DOCTYPE html>
<html>
<title>Linear Regression</title>
<body>

<h1>The best or not apartment price predictor</h1>
<h2>Fill the form with needed apartment complex characteristics:</h2>
<form action = "/predict" method="POST">
	<p> Col1:<input name="col1" type ="text"/> </p>
	<p> Col2:<input name="col2" type ="text"/> </p>
	<p> Complex age:<input name="complexAge" type ="text"/> </p>
	<p> Total rooms: <input name="totalRooms" type ="text"/> </p>
    <p> Total bedrooms: <input name="totalBedrooms" type ="text"/> </p>
	<p> Complex inhabitants:<input name="complexInhabitants" type ="text"/> </p>
	<p> Nr of apartments: <input name="apartmentsNr" type ="text"/> </p>
	<p> Col8:<input name="col8" type ="text"/> </p>
	<p> <input type ="submit" value="submit" /> </p>
</form>
</body>
</html>
